/* @theme note-theme */
@import 'default'; /* Inherit from the default Marp theme */

section p.note {
  background-color: #ffffe0; /* Light yellow background */
  border-left: 5px solid #ffeb3b; /* Yellow left border */
  padding: 15px; /* Spacing inside the box */
  margin: 20px 0; /* Spacing around the box */
  border-radius: 4px; /* Rounded corners */
  font-style: italic; /* Italic text */
}

svg[id^="mermaid-"] { 
  max-width: 960px; 
  max-height: 600px; 
}

@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css'